apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress-nginx
spec:
  interval: 5m
  path: infra/ingress-nginx
  prune: true
  sourceRef:
    kind: GitRepository
    name: prod
