apiVersion: v1
kind: ConfigMap
metadata:
  name: config
data:
  "opendkim.conf": |
    Syslog yes
    SyslogSuccess yes

    Socket inet:8891@0.0.0.0
    InternalHosts 10.42.0.0/16, 100.64.0.0/16

    Domain teapot.ovh
    KeyFile /etc/opendkim/keys/teapot.ovh.21012026.key
    RequireSafeKeys no
    Selector 21012026

    Domain cappuccino.ovh
    KeyFile /etc/opendkim/keys/cappuccino.ovh.21012026.key
    RequireSafeKeys no
    Selector 21012026

    Canonicalization relaxed/simple

    On-BadSignature reject
    On-NoSignature reject
    On-SignatureError reject
