apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: bottin
          image: ghcr.io/teapotovh/bottind:v0.0.2
          ports:
            - name: ldap
              containerPort: 389
          args:
            - --addr=0.0.0.0:389
            - --bottin-passwd=$(ROOT_PASSWORD)
            - --bottin-store-type=psql
            - --bottin-store-url=postgresql://$(DB_USERNAME):$(DB_PASSWORD)@postgresql01-pooler.storage/bottin
            - "--bottin-acl=ANONYMOUS::bind:*,ou=users,dc=teapot,dc=ovh:"
            - "--bottin-acl=dc=teapot,dc=ovh::bind:*,ou=users,dc=teapot,dc=ovh:"
            - "--bottin-acl=ANONYMOUS::bind:dc=teapot,dc=ovh:"
            - "--bottin-acl=*,dc=teapot,dc=ovh::read:*:* !userpassword"
            - "--bottin-acl=*::read modify:SELF:*"
            - "--bottin-acl=dc=teapot,dc=ovh::read add modify delete:*:*"
            - "--bottin-acl=*:cn=admin,ou=groups,dc=teapot,dc=ovh:read add modify delete:*:*"
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
          env:
            - name: ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: apps-bottin-admin
                  key: password
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: apps-pg-small-user-bottin
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: apps-pg-small-user-bottin
                  key: password
          # livenessProbe:
          #   httpGet:
          #     path: /alive
          #     port: 80
          #   initialDelaySeconds: 5
          #   periodSeconds: 30
