apiVersion: v1
kind: Service
metadata:
  name: server
  annotations:
    external-dns.alpha.kubernetes.io/hostname: mail.sendmail.dev.teapot.ovh
spec:
  type: NodePort
  externalTrafficPolicy: Local
  ports:
    - name: smtp
      port: 25
      targetPort: smtp
      protocol: TCP
