apiVersion: apps/v1
kind: Deployment
metadata:
  name: filter
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels: {}
            topologyKey: kubernetes.io/hostname
      containers:
        - name: opendmarc
          image: mirror.gcr.io/instrumentisto/opendmarc:1.4-alpine
          ports:
            - name: milter
              containerPort: 8893
          volumeMounts:
            - name: config
              mountPath: /etc/opendmarc
              readOnly: true
          resources:
            requests:
              cpu: 5m
              memory: 16Mi
            limits:
              cpu: 50m
              memory: 64Mi
      volumes:
        - name: config
          configMap:
            name: config
