apiVersion: apps/v1
kind: Deployment
metadata:
  name: filter
spec:
  replicas: 3
  template:
    spec:
      initContainers:
      - name: configure
        image: mirror.gcr.io/dibi/envsubst
        command: ["sh", "-c", "envsubst < /tmpl/local.cf.tmpl > /etc/mail/spamassassin/local.cf"]
        env:
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: postgresql01-user-mail
                key: username
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgresql01-user-mail
                key: password
        volumeMounts:
        - name: template
          mountPath: /tmpl
        - name: config
          mountPath: /etc/mail/spamassassin

      containers:
      - name: spamassassin
        image: ghcr.io/teapotovh/spamassassin:v0.0.2
        ports:
        - name: milter
          containerPort: 783
        readinessProbe:
          exec:
            command: ["spamc", "-K"]
        volumeMounts:
        - name: config
          mountPath: /etc/mail/spamassassin/local.cf
          subPath: local.cf
      volumes:
      - name: template
        configMap:
          name: config
      - name: config
        emptyDir: {}
