apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: store
spec:
  storageClassName: "local-path-storageclass"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 16Gi
